.layout-footer {
    position: fixed;
    bottom: 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: teal;
    width: 100%;
    height: 10vh;
    padding: 20px;
    color: white;
}

.main-nav {
    align-items: center;
}

#nav-main-menu {
    margin-left: 640px;
}

#nav-main-menu-app {
    margin-left: 440px;
}

.login-button {
    margin-left: 20px;
}

.main-header {
    margin-top: 10px;
}

.landing-page-content {
    display: flex;
    flex-direction: row;
}

.login-area {
    width: 40%;
    height: 60vh;
    margin-left: 40px;
    margin-top: 40px;
}

.quote-links {
    width: 40%;
    height: 60vh;
    margin-left: 140px;
    margin-top: 10px;
}

.tall-textarea {
    height: 160px;
    padding: 4px;
}

.centered-cells {
    justify-content: center;
    align-items: center;
}

.action-btn {
    border: none;
    background-color: none;
}