{% extends 'app_layout.html' %}

{% block content %}
    {% if contacts %}
    <div style="margin: 20px">
        <div class="level" style="align-items: center;">
            <div class="level-left">
                <h1 class="m-5">Compliance</h1>
            </div>
            <div class="level-right">
                <div class="buttons is-flex-direction-row">
                    <a href="/" class="button is-primary">Create Contact</a>
                </div>
            </div>
        </div>
        <table class="table is-hoverable table-color has-background-info-light is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr class="teal">
                    <th><strong class="has-text-white">Name</strong></th>
                    <th><strong class="has-text-white">Email</strong></th>
                    <th><strong class="has-text-white">Country</strong></th>
                    <th><strong class="has-text-white">VPN</strong></th>
                    <th><strong class="has-text-white">Compromised</strong></th>
                    <th><strong class="has-text-white">Proxy</strong></th>
                    <th><strong class="has-text-white">Check</strong></th> 
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.first_name.capitalize() }} {{ contact.last_name.capitalize() if contact.last_name else "" }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.sanction_status if contact.sanction_status else "Pending" }}</td>
                        <td>{{ contact.vpn_status if contact.vpn_status else "Pending" }}</td>
                        <td>{{ contact.breached_status if contact.breached_status else "Pending" }}</td>
                        <td>{{ contact.proxy_status if contact.proxy_status else "Pending" }}</td>
                        <td class="centered-cells"><form method="post" action="/check/{{ contact.id }}" style="margin-right: 10px"><button class="button is-info is-small" type="submit">Check</button></form></td> <!-- Replaced checkbox with button -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h1 style="margin-top: 80px;">No Contacts yet, <a href="/">Try Creating a Contact...</a></h1>
            <img src="{{ url_for('static', filename='img/empty_icon.png') }}" width="10%" alt="empty_state">
        </div>
    {% endif %}
{% endblock %}
