<!-- contacts.html -->
{% extends 'app_layout.html' %}

{% block content %}
    {% if contacts %}
    <div style="margin: 20px">
        <h1 class="m-5">Contacts</h1>
        <table class="table is-hoverable $table-color teal is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr style="color: white">
                    <th><strong>Name</strong></th>
                    <th><strong>Email</strong></th>
                    <th><strong>Phone</strong></th>
                    <th><strong>Status</strong></th>
                    <th><strong>Delete</strong></th>
                    <th><strong>Edit</strong></th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.first_name.capitalize() }} {{ contact.last_name.capitalize() if contact.last_name else "" }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>{{ contact.status if contact.status else "Pending" }}</td>
                        <td><a href="#">Delete</a></td>
                        <td><a href="#">Edit</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <h1>No contacts yet</h1>
    {% endif %}
{% endblock %}
