{% extends 'app_layout.html' %}

{% block content %}
    {% if customers %}
    <div style="margin: 20px">
        <div class="level" style="align-items: center;">
            <div class="level-left">
                <h1 class="h4 m-5"><strong>Customers</strong></h1>
            </div>
            <div class="level-right">
                <div class="buttons is-flex-direction-row">
                    <a href="/" class="button is-primary">Create Customer</a>
                </div>
            </div>
        </div>
        <table class="table is-hoverable table-color has-background-info-light is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr class="teal">
                    <th><strong class="has-text-white">Name</strong></th>
                    <th><strong class="has-text-white">Email</strong></th>
                    <th><strong class="has-text-white">Phone</strong></th>
                    <th><strong class="has-text-white">Delete</strong></th>
                    <th><strong class="has-text-white">Edit</strong></th>
                    <th><strong class="has-text-white">Invoice</strong></th> <!-- Replaced Select with Verify column -->
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.first_name.capitalize() }} {{ customer.last_name.capitalize() if customer.last_name else "" }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.phone }}</td>
                        <td class="centered-cells"><form method="post" action="/customers/delete/{{ customer.id }}"><button class="action-btn" type="submit"><span class="icon">
                            <i class="fas fa-trash-alt"></i>
                          </span></button></form></td>
                        <td class="centered-cells"><form action="/customers/edit/{{ customer.id }}"><button class="action-btn" type="submit"><span class="icon">
                            <i class="fas fa-pencil-alt"></i>
                          </span></button></form></td>
                        <td class="centered-cells"><form method="post" action="/assign/{{ customer.id }}" style="margin-right: 10px; text-align: center;"><button class="action-btn" type="submit">
                            <span class="icon">
                                <i class="fas fa-microphone"></i>
                              </span>
                        </button></form></td> <!-- Replaced checkbox with button -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h1 style="margin-top: 80px;">No Customers yet, <a href="/">Try Creating a Customer...</a></h1>
            <img src="{{ url_for('static', filename='img/empty_icon.png') }}" width="10%" alt="empty_state">
        </div>
    {% endif %}
{% endblock %}
