{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
          <h1 class="title">Getting Started with TopoLock</h1>
          <p>Welcome to TopoLock, the ultimate security solution for your digital world. In this guide, we will walk you through the simple process of registering and getting started with our platform. With just a few easy steps, you'll be on your way to securing your valuable information.</p>
          <ol>
            <li>
              <strong>Registration:</strong>
              <p>To begin, visit our website at <a href="https://topolock-8e62961f8566.herokuapp.com/">the TopoLock Web app</a>. On the homepage, you will find the registration form. To register, all you need is your email address and a password. Enter these details into the designated fields and click on the "Register" button.</p>
            </li>
            <li>
              <strong>Verification:</strong>
              <p>After clicking the "Register" button, a verification email will be sent to the email address you provided during registration. Open your email inbox and look for an email from TopoLock. Click on the verification link provided in the email to confirm your registration.</p>
            </li>
            <li>
              <strong>Home Page:</strong>
              <p>Once your registration is verified, you will be automatically redirected to your personalized home page. This page serves as your dashboard, where you can access all the features and settings of TopoLock. Here, you will find a user-friendly interface designed to make your experience seamless and intuitive.</p>
            </li>
            <li>
              <strong>Getting Started:</strong>
              <p>Now that you're on your home page, it's time to explore the different features and customize your security settings. From your home page, you can navigate to various sections, such as:</p>
              <ul>
                <li>Account Settings: Update your personal information, change your password, and manage your security preferences.</li>
                <li>File Encryption: Protect your files by encrypting them with our advanced encryption algorithms.</li>
                <li>Secure Messaging: Send encrypted messages to your contacts, ensuring your conversations remain private.</li>
              </ul>
            </li>
            <li>
              <strong>Help and Support:</strong>
              <p>If you ever encounter any issues or have questions along the way, we are here to assist you. Simply click on the "Help" button located on your home page to access our comprehensive knowledge base, FAQs, and contact information. Our dedicated support team is available 24/7 to ensure a smooth and secure experience for all our users.</p>
            </li>
          </ol>
          <p>That's it! You're all set to explore the world of TopoLock and take control of your digital security.</p>
        </div>
      </section>      
{% endblock %}