{% extends 'app_layout.html' %}

{% block content %}
    <div style="margin: 20px">
        <h1 class="m-5">Edit Contact</h1>
        <form method="post" action="/contacts/edit/{{ contact.id }}">
            <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                    <input class="input" type="text" name="first_name" value="{{ contact.first_name }}" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                    <input class="input" type="text" name="last_name" value="{{ contact.last_name }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" type="email" name="email" value="{{ contact.email }}" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Phone Number</label>
                <div class="control">
                    <input class="input" type="text" name="phone_number" value="{{ contact.phone_number }}">
                </div>
            </div>
            <div class="field">
                <label class="label">Address</label>
                <div class="control">
                    <textarea class="textarea" name="address">{{ contact.address }}</textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Status</label>
                <div class="control">
                    <input class="input" type="text" name="status" value="{{ contact.status }}">
                </div>
            </div>
            <div class="field">
                <label class="label">IP Address</label>
                <div class="control">
                    <input class="input" type="text" name="ip_address" value="{{ contact.ip_address }}" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
