{% extends 'app_layout.html' %}
{% block content %}
<div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd tile" style="margin: 10px; color: white">
    <div class="column tile blue">
        <form action="{{ url_for('create_customer') }}" class="form" method="POST" style="margin-top: 5px; color: white">
            {{ form.csrf_token }}
            <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                    {{ form.first_name(class="input white p-1", placeholder="Enter First Name") }}
                </div>
            </div>
            <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                    {{ form.last_name(class="input white p-1", placeholder="Enter Last Name") }}
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    {{ form.email(class="input white p-1", placeholder="Enter email") }}
                </div>
            </div>
            <div class="field">
                <label class="label">Phone Number</label>
                <div class="control">
                    {{ form.phone_number(class="input white p-1", placeholder="Enter Phone Number") }}
                </div>
            </div>
            <div class="field">
                <label class="label"></label>
                <div class="control">
                    {{ form.user_id(class="input white p-1", placeholder="Enter User ID", type="hidden", value=current_user) }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.submit(class="button is-primary", value="Create Customer") }}
                </div>
            </div>
        </form>
           
    </div>
    <div class="column tile purple">
        <div class="heading">All Customers</div>
        <div class="tile" style="margin-top: 20px">
            {% if customers %}
        <ul>
            {% for customer in customers %}
                <li><strong class="has-text-white">{{ customer.first_name.capitalize() }}</strong> - <em>{{ customer.invoices|length }}</em></li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>No customers yet, Try Create a New Customer!</h1>
    {% endif %}
        </div>

    </div>
    <div class="column tile teal">
        <div class="heading">Latest Payments</div>
        <div class="tile" style="margin-top: 20px">
            {% if payments %}
        <ul>
            {% for payment in payments %}
                <li><strong class="has-text-white">{{ payment.customer_id }}</strong> - <em>{{ payment.amount }}</em></li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>No payments yet, Try contacting customers!</h1>
    {% endif %}
        </div>
    </div>
    <div class="column tile deep-orange">
        <div class="heading">Latest Invoices</div>
        <div class="tile" style="margin-top: 20px">
            {% if invoices %}
        <ul>
            {% for invoice in invoices %}
                <li><strong class="has-text-white">{{ invoice.invoice_date }}</strong> <strong class="has-text-white">{{ invoice.total_amount }}</strong> - <em>{{ invoice.status }}</em></li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>No invoices yet, Try create some Invoices!</h1>
    {% endif %}
        </div>
    </div>
</div>
{% endblock %}