{% extends 'layout.html' %}

{% block header %}
  <div class="col s6 main-header">
    <section class="hero is-success">
        <div class="hero-body">
          <p class="title">
            Welcome to TopoLock
          </p>
          <p class="subtitle">
            Secure Location
          </p>
        </div>
      </section>
  </div>
  <div class="col s6">
        <img src="{{ url_for('static', filename='img/hero-image.png') }}" alt="hero-image" />
  </div>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}