{% extends 'layout.html' %}

{% block header %}
  <div class="col s6 main-header" style="align-items: center;">
    <section class="hero is-success">
        <div class="hero-body">
          <p class="title">
            Welcome to TopoLock
          </p>
          <p class="subtitle">
            Secure Location
          </p>
        </div>
      </section>
  </div>
  <div class="col s6">
        <img src="{{ url_for('static', filename='img/hero-image.jpg') }}" alt="hero-image" style="margin-top: 10px;"/>
  </div>
{% endblock %}

{% block content %}
<div class="row landing-page-content">
  <div class="col login-area">
    <h2 style="color: #48c78e; font-weight: bold;">Get Started</h2>
    <br>
    <form>
    <div class="field">
        <p class="control has-icons-left has-icons-right">
        <input class="input" type="email" placeholder="Email">
        <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
        </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
        <input class="input" type="password" placeholder="Password">
        <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
        </span>
        </p>
    </div>
    <div class="field">
        <p class="control">
        <button class="button is-success">
            Sign Up
        </button>
        </p>
    </div>
    </form>
  </div>
  <div class="col quote-links">
    <div class="card" style="height: 40vh;">
        <div class="card-content">
          <p class="title">
            “Everything is related to everything else, but near things are more related than distant things.”
          </p>
          <br>
          <p class="subtitle">
            Waldo Tobler
          </p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              Already Registered? <a href="/login">Login</a>
            </span>
          </p>
          <p class="card-footer-item">
            <span>
              Need Help? <a href="mailto:williammabotjaeng">Get in touch!</a>
            </span>
          </p>
        </footer>
      </div>
  </div>
</div>
{% endblock %}