{% extends 'layout.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row landing-page-content" style="margin-top: 40px;">
    <div class="col quote-links">
        <!-- Quote and links card -->
    </div>
    <div class="col login-area">
        <h2 style="color: #48c78e; font-weight: bold;">Get Started</h2>
        <br>
        <form action="{{ url_for('register') }}" method="POST">
            {{ form.csrf_token }}
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    {{ form.username(class="input", placeholder="Email") }}
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    {{ form.password(class="input", placeholder="Password") }}
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success" type="submit">
                        Sign Up
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
